body {
    font-family: arial,sans-serif;
}

.zoekbalk {
    width: 503px;
    height: 38px;
    border: 1px;
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: thin;
    text-align: -webkit-center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.logo {
    text-align: -webkit-center;
    height: 92px;
    width: 272px;
    padding-top: 109px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zoeken-tekst {
    height: 35px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

.beneden-balk {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    min-width: 159px;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
    display: inline;
    margin-top: 15px;
    font-size: 13px;
    padding: 10px 10px;
}

.li class {
    height: 92px;
    width:  72px;
}